#businesscontainer{
    position: absolute;
    width: 1200px;
    height: 750px;
    left: 350px;
    top: 140px;
}

#businesscard{
    width: 68rem;
    height:40rem;
    margin-left: 25px;
}
  
.sumbitbtn {
    color: white;
    background-color: #1f7ef2;
    width: 6.875rem;           
    height: 2.5rem;            
    margin-left: 62.625rem;           
    bottom: 3.06rem;           
    position: unset;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.7);
    border-radius: 0.5625rem;  
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .sumbitbtn:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  }
  .sumbitbtn1 {
    color: white;
    background-color: #1f7ef2;
    width: 6.875rem;
    height: 2.5rem;
 
  
    margin-left: 60.625rem;  
    margin-bottom: 66.06rem;

    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.7);
    border-radius: 0.5625rem;
    transition: box-shadow 0.3s ease-in-out;
    display: inline-block; 
}

  .sumbitbtn1:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  }