#cardcontainer {
    width: 90vw; 
    height: 45vh; 
}

.cardreport,
.cardreport1,
.cardreport2 {
    height: 25vh; 
}


#periodbtn {
    position: absolute;
    left: 60vw;
    top: 28vh;
    height: 2.4rem;
    color: #ffffff;
    background-color: #1f7ef2;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease-in-out;

}

#gobtn {
    position: absolute;
    left: 67vw;
    height: 2.4rem;
    top: 28vh;
    color: #ffffff;
    background-color: #1f7ef2;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease-in-out;
                        
}

#periodbtn:hover,
#gobtn:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

#Closebtn {
    position: absolute;
    left: 24.3vw;
    top: 35vh;
    color: #ffffff;
    background-color: #1f7ef2;
    height: 2.4rem;
}

#sumbitbtn1 {
    position: absolute;
    left: 17vw;
    top: 35vh;
    color: #ffffff;
    background-color: #1f7ef2;
    height: 2.4rem;
}

#inputtextdropdown {
    height: 2.3rem;
    width: 255px;
    border-right: #82abdf solid 7px;
    border-radius: 10px;
}
#inputtextdropdown:hover {
    border-right: #1f7ef2 solid 7px;

}

#reportcard{
    margin-left: -40px;
    margin-top: -26px; 
}
#piecard{
    margin-left: -40px;
    margin-top: 15px; 
}
#graphcard{
    margin-left: 180px;
    margin-top: 10px; 
}